@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔥 FULL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   transition: background-color 0.3s, color 0.3s;
   .scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
}

html, body, #root {
  width: 100vw;   /* 🔥 CHANGE THIS */
  height: 100vh;  /* 🔥 CHANGE THIS */
  overflow-x: hidden; /* 🔥 PREVENT SIDE GAP */
}

/* Optional clean font */
body {
  font-family: 'Inter', sans-serif;
}